*{
    text-decoration: none;
    color: white;
    align-items: left;
    align-content: left;
    text-align: left;   
    }
    h4.hitam{
    font-family: sans-serif;
    font-size: large;
    text-shadow: 2px 2px rgb(218, 68, 23);
    }
    h6.kecil{
        font-size: small;
        text-shadow: 1px 1px rgb(218, 68, 23);
    }
    .button{
        background-color: rgba(255, 255, 255, 0.363);
        text-decoration: none;
        box-sizing: content-box;
        background-size: 300px;
        color: rgb(255, 255, 255);
        padding: 15px 20px;
        border-radius: 200px;
        border: 1px solid white;
    }
    .button:hover{
        background-color: rgb(255, 255, 255);
        text-decoration: none;
        box-sizing: content-box;
        background-size: 300px;
        color: rgb(255, 123, 0);
        padding: 15px 20px;
        border-radius: 200px;
        border: 1px solid white;
    }