
.background{
    background-color: rgb(255, 115, 0);
    
}
*{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.card{
    
    align-items: center;
    align-content: center;
    width: 85%;
    background-color: white;
    height: 70%;
    position: absolute;
    border-radius: 20px;
    display: flexbox;
    transform: translateY(10%) translateX(10%);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.452);
}
.title{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 200%;
    color: rgb(14, 13, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.desc{
    padding-left: 20px;
    padding-right: 50%;
    position: relative;
    translate: 50% 50%;
    font-size: 80%;
    color: rgb(68, 64, 64);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}