
.background{
    background-color: rgb(255, 115, 0);
    overflow: hidden;
}
.expand{
    position: absolute;
    filter: opacity(0.3);
    width: 100%;
}
*{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@keyframes kntl {
    0%{transform: translateX(-10%) translateY(-10%);}
    100%{transform: translateX(-5%) translateY(-5%);}
}
.card .bg{
    position: absolute;
    align-items: center;
    align-content: center;
    width: 120%;
    height: 120%;
    transform: translateX(-5%) translateY(-5%);
    position: fixed;
    overflow: hidden;
    overflow-y: hidden;
    overflow-x: hidden;
    animation: 10s linear infinite alternate kntl;
    filter: opacity(0.3);
    
}

.card{
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    align-items: center;
    align-content: center;
    width: 80%;
    height: 80%;
    position: absolute;
    border-radius: 20px;
    transform: translateY(10%) translateX(10%);
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.452);
}
.title{
    padding-left: 20px;
    padding-top: 10px;
    font-size: 200%;
    position: relative;
    color: rgb(14, 13, 13);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.desc{
    padding-left: 20px;
    position: relative;
    translate: 50% 50%;
    font-size: 80%;
    color: rgb(68, 64, 64);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.button{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.808);
    padding: 3%;
    border-radius: 500px;
    color: black;
    align-self: center;
    margin-left: 5%;
    font-size: small;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.295);
}
.berat{
    height: 70%;
}
